.tabstrip {
    border: dotted;
    margin: 1em;
    padding: 1em;

    .tabs {
        border-bottom: dotted;
        margin-bottom: 2em;
        padding-bottom: 1em;

        .tab_button {
            cursor: pointer;
            margin-right: 1em;
            display: inline-block;
            text-align: center;

            &::before {
                display: block;
                content: attr(title);
                font-weight: bold;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }

            &.active_tab {
                font-weight: bold;
            }
        }
    }
}